.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}


.form > * {
  // margin-top: 1rem;
  &:first-child {margin-top: 0;}
  &:last-child {margin-bottom: 0;}
}